<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<add key="ServerIPAddress" value="127.0.0.1" />
		<add key="ServerPort" value="13000" />
		<add key="LayoutFilePath" value="OpenedDocuments.xml" />
	</appSettings>
	
	<system.diagnostics>
		<sources>
			<source name="TcpServerLog" switchValue="All">
				<listeners>
					<add name="consoleListener" />
					<add name="fileListener" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
			<add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\TcpServer.log" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	
	<connectionStrings>
		<add name="OMS" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OMS;Integrated Security=True;Connect Timeout=30;Encrypt=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>