<?xml version="1.0" encoding="utf-8"?>
<configuration>

  	<configSections>
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   </configSections>
   <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
         <value>None</value>
      </setting>
   </DXThemeManager>
   <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<add key="LayoutFilePath" value="OpenedDocuments.xml" />
		<add key="ThemeDirectory" value="C:\Themes\" />
		<add key="ThemeName" value="Default Theme" />
		<add key="ScreenBackground" value="#FFFFFFFF" />
		<add key="TextBackground" value="#FFFFFFFF" />
		<add key="TextForeground" value="#FF000000" />
		<add key="TextBoxBackground" value="#FFFFFFFF" />
		<add key="TextBoxForeground" value="#FF000000" />
		<add key="ButtonBackground" value="#FFFFFFFF" />
		<add key="ButtonForeground" value="#FF000000" />
		<add key="TitleBarBackground" value="#FF8799FA" />
		<add key="TitleBarForeground" value="#FF000000" />
		<add key="FontFamily" value="Arial" />
		<add key="FontWeight" value="Normal" />
		<add key="FontSize" value="Normal" />
		<add key="ButtonBorderThickness" value="1" />
	</appSettings>
	
	<system.diagnostics>
		<sources>
			<source name="OMSClientLogs" switchValue="All">
				<listeners>
					<add name="consoleListener" />
					<add name="fileListener" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
			<add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\TcpServer.log" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	
	<connectionStrings>
		<add name="OMS" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OMS;Integrated Security=True;Connect Timeout=30;Encrypt=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>